@model LojaDeHardware.Models.Fornecedor

@{
    ViewData["Title"] = "Detalhes fornecedor";
}

<h1>Detalhes fornecedor</h1>

<div>
    <hr />
    <section class="row">
        <div class="tipoprodutocss mt-4">
            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.FornecedorCNPJ):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.FornecedorCNPJ)
            </h5>
        </div>

        <div class="tipoprodutocss mt-4">

            <h4 class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.FornecedorNome):
            </h4>
            <h5 class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.FornecedorNome)
            </h5>
        </div>

    </section>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FornecedorId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
