@model LojaDeHardware.Models.Fornecedor

@{
    ViewData["Title"] = "Edit";
}

<h1>Editando o fornecedor</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FornecedorCNPJ" class="control-label"></label>
                <input asp-for="FornecedorCNPJ" class="form-control" />
                <span asp-validation-for="FornecedorCNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FornecedorNome" class="control-label"></label>
                <input asp-for="FornecedorNome" class="form-control" />
                <span asp-validation-for="FornecedorNome" class="text-danger"></span>
            </div>
            <button type="submit" class="mt-4">
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">Cadastrar</span>
            </button>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
